@{
   ViewBag.Title = "Add";
//    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@*<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />*@
<script src="~/Script/jquery-1.8.2.js"></script>
<script src="~/Script/jquery-ui-1.8.24.js"></script>
<link rel="stylesheet" href="~/css/style.css">


<!-- Header -->
<header id="header" class="header">
    <div role="banner" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a href="index.html" class="navbar-brand"><img alt="logo" src="~/images/e-logo.png"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Home/Index">HOME</a></li>
                    <li><a href="~/Home/About">ABOUT</a></li>
                    <li><a href="~/Home/Shop">SHOP</a></li>
                    
                    <li><a href="~/Home/Contacts">CONTACTS</a></li>
                    <li><a href="~/Admin/Logout">Log Out</a></li>
                    <li><a href="~/Admin">All Mobile</a></li>
                    <li><a href="#"><img src="~/images/search.png"></a></li>
                </ul>
            </div>
        </div>
        <!--/.container-->
    </div>
</header>
<!--Header Ends-->


<h2>Add New Mobile</h2>
<div class="col-sm-12" style="background-image:url(/Images/closureImage/backgrond1.jpg)">
    <div class="col-md-1"></div>


    <div class="col-sm-3">
    </div>

    <div class="col-sm-4">

        <div class="form-group   pull-center">


            <div class="editor-label">
            </div>

            <form action="/Admin/SvAdd" method="post" enctype="multipart/form-data">
                <label for="cat">
                    Category:
                </label>
                <select class="form-control" id="Category" name="Category">
                    <option value="">---Selected---</option>
                    <option value="Apple">Apple Store</option>
                    <option value="Nokia">Nokia Lumia Store</option>
                    <option value="Samsung">Samsung Store</option>
                    <option value="Qmobile">Qmobile Store</option>
                </select>
                <div class="editor-label">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="Price" name="Price" required="required">
                </div>

                <div class="editor-label">
                    <label for="Memory">Memory</label>
                    <input type="number" class="form-control" id="Memoy" name="Memoy" required="required" />
                </div>
                <div class="editor-label">
                    <label for="Camera">Camers</label>
                    <input type="text" class="form-control" id="Camera" name="Camera" required="required">
                </div>
                <div class="editor-label">
                    <label for="Number">Number</label>
                    <input type="text" class="form-control" id="Number" name="Number" required="required">
                </div>
                <div class="editor-label">
                    <label for="image">Select Image</label>
                    <input type="file" name="file" id="file" required="required" style="width: 100%" />
                </div>
                <button type="submit" class="btn btn-primary">Add item</button>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-1"></div>


<hr />
<!-- Footer -->
<section id="footer" style="margin-top:50%">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <h3>e-Store</h3>
                    <p>e-shopping allows consumers to directly buy goods or services from a seller over the Internet using a web browser.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <p>
                        Phone:
                        <h5>+923026547012</h5>
                    </p>
                    <p>
                        e-mail:
                        <h5>BITF12M031@pucit.edu.pk</h5>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7 col-xs-6">
                <p color="white"><h4>Designed by Muhammad Saeed </h4></p>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-6"> <a class="icon" href="#"><img src="~/images/rss.png" /></a> <a class="icon" href="#"><img src="~/images/twetter.png" /></a> <a class="icon" href="#"><img src="~/images/g-plus.png" /></a> <a class="icon" href="#"><img src="~/images/facebook.png" /></a> </div>
        </div>
    </div>
</section>