@{
    ViewBag.Title = "About";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include bootstrap CSS -->
    <!-- Include bootstrap CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/reset.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">


    <title>e-Shopping</title>


</head>

<body id="about-us">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <div class="top-text"><p>  ABOUT US</p></div>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="index.html">Home</a></li>&nbsp; / &nbsp;
                            <li><a href="about.html">About us</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->

    <section id="top-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron items">
                        <h3>Punjab University of Information Technology</h3>
                        <p>I'm a student of BS(IT) from Punjab University....This is the Project of Enterprize Application Development, Named as e-Shopping. THis Website a free online access to buy his favourit Mobile anytime. Every User can purchase or sale his mobile by posting your's Mobile AD...Other User able to View this post and They can request to Buy his Mobile</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Main Content -->

    <section id="portion">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="thumbnail portion">

                        <div class="caption">
                            <h5>Why Choose Us ?</h5>
                            <ul>
                                <li>We love what we do</li>
                                <li>We offer quality services</li>
                                <li>We make happy our Client</li>
                                <li>We are the best for YOU</li>
                                <li>if you want a Mobile who is best for You</li>
                                <li>We do hope that you will like our wide range of services and will decide to become our satisfied client.</li>

                            </ul>

                        </div>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="thumbnail portion">

                        <div class="caption">
                            <h5>What Client’s Say ?</h5>
                            My name is Waheed ... your website is amazing ... it help to Purchase my Favourite Mobile</p>
                            <h6>Waheed Nadeem</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr><hr><hr><hr><hr><hr>

    <section id="sec-client">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail sec-client">


                        <p class="text">***</p>

                        <img class="line" src="~/images/line.png" alt="line" />


                        <a class="move" href="#"><img src="~/images/left-move.png" /></a>
                        <a class="move" href="#"><img src="~/images/right-move.png" /></a>


                    </div>





                </div>
            </div>
        </div>
    </section>




    <!-- Main Contents Ends -->






</body>



<script src="~/js/bootstrap.min.js"></script>
</html>
