@{
    ViewBag.Title = "Contacts";
}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include bootstrap CSS -->
    <!-- Include bootstrap CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/reset.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">


    <title>Contacts</title>



<!--Start Body-->
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-4">
                <div class="top-text"><p>  Contacts US</p></div>
            </div>
            <div class="col-sm-6 col-xs-8">
                <div class="social">
                    <ul class="social-share">
                        <li><a href="index.html">Home</a></li>&nbsp; / &nbsp;
                        <li><a href="about.html">About us</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div><!--/.container-->
</div><!--/.top-bar-->



<div id="body">
    <div class="article">
        <h3>Thanks for visit</h3>
        <p>
            This website has been designed by <a href="http://www.facebook.com/m.saeed.ams">Muhammad Saeed</a> for you, for free. You can visit and Buy your desired Mobile.THis Website a free online access to buy his favourit Mobile anytime. Every User can purchase or sale his mobile by posting your's Mobile AD...Other User able to View this post and They can request to Buy his Mobile.
        </p>
        <ul>
            <li>
                <span>Address :</span> Steet #31 Defence Housing Authority, Lahore, Pakistan
            </li>
            <li>
                <span>Office Phone Number :</span> (042) 232-3553
            </li>
            <li>
                <span>Fax Number :</span> (042) 232-4160
            </li>
            <li>
                <span>Email :</span> <a href="http://www.gmail.com">BITF12M031@PUCIT.EDU.PK</a>
            </li>
        </ul>
    </div>
</div>
<!--End Body-->
@*<div align="center">
<p>Muhammad Saeed</p>
    <p>+92 302 65 47 012</p>
    <p>Fb.com/m.saeed.ams</p>
    <p>BITF12M031@pucit.edu.pk</p>
    <p>Develpeeeeez Solution, Lahore</p>
    </div>*@

    <hr><hr><hr><hr>
    <!-- Main Contents Ends -->




<script src="~/js/bootstrap.min.js"></script>