@{
    ViewBag.Title = "plus";
}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include bootstrap CSS -->
    <!-- Include bootstrap CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/reset.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">


    <title>6-Plus</title>


    <section id="top-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron items">
                        <h3>Iphone 6 Plus</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main Content -->
    <table>
        <tr>
            <td >
                <img src="~/images/apple/Large/6plus.png" style="margin-left:60%">
            </td>
            <td>
                <h4>&nbsp;&nbsp;IPHONE 6 Plus</h4>
                <p>&nbsp;&nbsp; BATTERY: 1810 mAh </p>
                <p>&nbsp;&nbsp; MEMORY: 16GB | 1GB RAM </p>
                <p>&nbsp;&nbsp; CAMERA: 8MB  </p>
                <p>&nbsp;&nbsp;PRICE: Rs.70,000/- Only</p>
                <p>
                    &nbsp;&nbsp;
                    <button>Buy Now</button>
                </p>
            </td>
        </tr>
    </table>
    <hr>
    <!-- Main Contents Ends -->

<script src="~/js/bootstrap.min.js"></script>
