@{
    ViewBag.Title = "Signup";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include bootstrap CSS -->
    <!-- Include bootstrap CSS -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">


    <title>Modus Versus</title>


</head>

<body id="about-us">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <div class="top-text"><p>  SIGN-UP is Under Process</p></div>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="index.html">Home</a></li>&nbsp; / &nbsp;
                            <li><a href="about.html">About us</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->




    <hr><hr><hr><hr><hr><hr>


    <section id="sec-client">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail sec-client">


                        <p class="text">Our Happy Clients</p>

                        <img class="line" src="images/line.png" alt="line" />


                        <a class="move" href="#"><img src="images/left-move.png" /></a>
                        <a class="move" href="#"><img src="images/right-move.png" /></a>


                    </div>





                </div>
            </div>
        </div>
    </section>




    <!-- Main Contents Ends -->






</body>



<script src="js/bootstrap.min.js"></script>
</html>
